Sources/EPiServer.Reference.Commerce.Manager/Configs/Mediachase.Search.Filters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include id="filters" schemaLocation="Mediachase.Search.Objects.xsd"></xs:include>
	<xs:element name="SearchConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchFilters" type="SearchFilters" />
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>